<div class="nav-ptop">       
<a href="{{ path_for('cart.index') }}"><img src="cart.png" class="cartimage"></a>
</div>
<div class="gems-category">          
    {% include 'templates/partials/categories.twig' %}
</div>
